// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-list {
  margin-left: 140px;
  // margin-right: auto;

}

.review {
  margin-top: 20px;
  margin-left: 50px;
}

.font-small {
  font-size: 12px;
  position: relative;
  top: -20px;
}
